*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
.outer{
    height: 100vh;
    overflow-x: hidden;
}
.inner{
    margin: 100px auto;
    width: 500px;
    height: 500px;
    background-image: url(pic.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4); 
}
.inner h1{
    width: 98%;
    text-align: center;
    font-size: 50px;
    color: rgb(11, 14, 11);
    border: 2px solid rgb(8, 10, 9);
    top: 45%;
    position: absolute;   
}