html{
  margin: 2%;
}

body {
    /*font-family: "Helvetica Nueu", "Liberation Sans", Calibri, Arial, sans-serif;  /* change this line*/
    font-size: 100%; /* start value*/ 
    margin: auto;  /* centers the page */
    max-width: 860px;
   
  }
  
  section, header, footer {
    outline: 1px solid red; 
  }
  
  header {
    text-align: center;
  }
  
  .startpage h1 {
    font-size: 500%; /* Big title on the start page*/ 
  }
  
  .tagline {
    font-size: 120%;
    padding: 0.5em; /* distance to the border*/ 
    border-top: 3px double #00AF64;
    border-bottom: 3px double #00AF64;
    margin: 1em 0; /* distance downwards but not upwards*/
  }
  
    
  .menu h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #e8eeed;  /* very light grey*/ 
    text-align: center;
    
   
    box-shadow: inset 0 0 20px #007241;
    border-radius: 50%; */

  }
  
  footer {
    margin-top: 3em;
    text-align: center;
    color: #999;
  }
  
  
   .startpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .startpage header, .startpage footer {
    flex: 0 0 100%;
  }
  
  .startpage section {
    flex: 0 0 22%;
  }
  
  .menu a         
  {
    text-decoration: none;
    color: #000;
  }
  
  .menu a:focus,
  .menu a:hover {
    text-decoration: underline;
    color: #A62F00;
  }
  
  
  h1::first-letter {
    color: #00AF64;
  }
  
  /*
  h1 {
    font-family: 'Merinda One', cursive;
 } 