html{
  margin: 2%;
}

body {
    /*font-family: "Helvetica Nueu", "Liberation Sans", Calibri, Arial, sans-serif;  /* change this line*/
    font-size: 100%; /* start value*/ 
    margin: auto;  /* centers the page */
    max-width: 1200px;
      
  }
  
  /*section, header, footer {
    outline: 1px solid red; 
  }*/
  
  header {
    text-align: center;
  }
  .startpage {
    background-image: url("pg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
 .logo {
width: 70%;
 }
 
  .startpage h1 {
    font-size: 500%; /* Big title on the start page*/
     background-image: linear-gradient(to right, violet, indigo, green, blue, yellow, orange, red);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent;
    } 
   /* h1::first-letter {
      color: #f515b2;
    }*/
  
  
  .tagline {
    font-size: 2em;
    padding: 0.5em; /* distance to the border*/ 
    border-top: 3px double #00AF64;
    border-bottom: 3px double #00AF64;
    margin: 1em 0; /* distance downwards but not upwards*/
  }
  
  .menu h2 {
    margin: 0 0 1em;
    padding: 2em;
    background-color: #f7cfeb;  /* very light grey*/ 
    text-align: center;
    box-shadow: inset 0 0 20px #7d61f8;
    border-radius: 50%; 
  }
  
   p{
     text-align: center;
   }
  footer {
    margin-top: 3em;
    text-align: center;
    color: #999;
  }
    
   .startpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .icon {
    display: flex !important;
    flex-direction: column !important;
   
    
  }
  .startpage header, .startpage footer {
    flex: 0 0 100%;
  }
  
  .startpage section {
    flex: 0 0 30%;
  }
  
  .menu a         
  {
    text-decoration: none;
    color: #000;
  }
  
  .menu a:focus,  .menu a:hover {
    text-decoration: underline;
    color: #A62F00;
  }

   .h3 {
    text-align: center;
    color: #3d85c6;
  }

  

 
  /* 
    h1 {
    font-family: 'Merinda One', cursive;
 } */
 
